<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="renderer" content="webkit|ie-comp">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome =1">
  
    <link href="~/Content/css/okadmin.css" rel="stylesheet" />
 
</head>
<body class="layui-layout-body" >
    @RenderBody()
</body>
</html>
