<?xml version="1.0" encoding="utf-8" ?>
<IOServer>
  <RemoteIP>
    192.168.1.6
  </RemoteIP>
  <RemotePort>
    8888
  </RemotePort>
  <LocalPort>
    8888
  </LocalPort>
  <User>
    admin
  </User>
  <Password>
    123456
  </Password>
  <Project>
  </Project>
  <HeartBeat>
    HH
  </HeartBeat>
  <HeadPack>
    ZZTEC
  </HeadPack>
  <TailPack>
    SCADA
  </TailPack>
  <ReceiveTimeout>
    1000
  </ReceiveTimeout>
  <ReceiveBufferSize>
    10240
  </ReceiveBufferSize>
  <SendTimeout>
    1000
  </SendTimeout>
  <SendBufferSize>
    10240
  </SendBufferSize>
  <DelayTime>
    20
  </DelayTime>
</IOServer>
