<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <add name="sqlconn" connectionString="server=127.0.0.1;database=MyDataBase;User=sa;password=123456;Connect Timeout=1000000" />
  <add name="mysqlconn" connectionString="server=127.0.0.1;port=3306;uid=root;pwd=123456;database=ScadaWeb;charset=utf8;default command timeout=300;TreatTinyAsBoolean=false" />
  <add name="sqllitconn" connectionString="\ScadaCenterServer\IOProject\IOCenterServer.station" />
</connectionStrings>