<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <!-- ================== 1：网站配置 ================== -->
  <!--网站名称-->
  <add key="SiteName" value="Lazy-OS" />
  <!--网站域名-->
  <add key="SiteDomain" value="http://www.baocaige.top" />
  <!--公司名称-->
  <add key="Corporate" value="宁夏众智科技有限公司" />
  <!--公司地址-->
  <add key="Address" value="宁夏银川" />
  <!--公司座机-->
  <add key="Tel" value="0952-3952172" />
  <!--联系电话-->
  <add key="Phone" value="18695221157" />
  <!--电子邮箱-->
  <add key="Email" value="249250126@qq.com" />
  <!--首页标题-->
  <add key="HomeTitle" value="Lazy-OS" />
  <!--META关键词:多个关键词用英文状态 , 号分割-->
  <add key="MetaKey" value="关键词" />
  <!--META描述-->
  <add key="MetaDescribe" value="描述" />
  <!--网站备案号-->
  <add key="Record" value="宁ICP备123456" />
  <!--版权信息-->
  <add key="CopyRight" value="© 2019 宁夏众智科技有限公司" />
  <!-- ================== 2：开发系统相关配置 ================== -->
  <!--初始化密码-->
  <add key="InitUserPwd" value="123456" />
  <!--上传文件大小-->
  <add key="UploadFileSize" value="2048" />
  <!--上传文件类型-->
  <add key="UploadFileType" value="png|gif|jpg|jpeg|zip|rar" />
  <!--登陆提供者模式：Session、Cookie-->
  <add key="LoginProvider" value="Cookie" />
  <!--登陆SVG提供者模式：Session、Cookie-->
  <add key="FlowLoginProvider" value="Cookie" />
  <!--数据库超时间-->
  <add key="CommandTimeout" value="180" />
  <!-- ================== 3：外部邮件参数 ================== -->
  <!--SMTP服务器-->
  <add key="EmailSmtp" value="smtp.qq.com" />
  <!--SSL加密连接-->
  <add key="EmailSSL" value="true" />
  <!--SMTP端口-->
  <add key="EmailPort" value="25" />
  <!--发件人地址-->
  <add key="EmailFrom" value="249250126@qq.com" />
  <!--邮箱账号-->
  <add key="MailUserName" value="49250126@qq.com" />
  <!--邮箱密码-->
  <add key="MailPassword" value="my820403@126.com" />
  <!--发件人昵称-->
  <add key="MailName" value="ScadaWeb" />
  <add key="InfluxHttpAddress" value="http://127.0.0.1:8086" />
  <add key="InfluxDataBase" value="zzscadabase" />
  <add key="InfluxUser" value="root" />
  <add key="InfluxPassword" value="root" />
  <add key="InfluxDBVersion" value="v_1_3" />
  <add key="Port" value="8888" />
</appSettings>